doctype html
html
  head
    title Chat Application Example by DEVAHOY
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  body
    #chat-app
      #chat.has-text-centered
        section.hero.is-success
          .hero-body
            .container
              h1.title Socket.io Chat
              h2 Chat Application with Node.js + socket.io
        section.section.chat-container
          .container
            .columns
              .box.column.is-8.is-offset-2
                h2.title Chatbox
                .chat-messages.has-text-left
                  ul#chat-messages
                form#form
                  .field.has-addons
                    p.control
                      input(type='text', class='input', value='Chuck Norris', id='name')
                    p.control.is-expanded
                      input(type='text', class='input', placeholder='Try to say something', id='message')
                    p.control
                      input(type='submit', class='button is-success', value='Post')
      script.
        const socket = io();
        document.getElementById('form').addEventListener('submit', function(evt) {
          evt.preventDefault();
          const name = document.querySelector('#name').value;
          const message = document.querySelector('#message').value;

          socket.emit('chatter', `${name} : ${message}`);
          document.querySelector('#message').value = '';
        })

        socket.on('message', function(message) {
          const ul = document.querySelector('#chat-messages');
          const li = document.createElement('li');
          li.textContent = message;
          ul.appendChild(li);
        });